.Main {
    text-align: center;
  }
  
  .Main-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Main-link {
    color: #61dafb;
  }

  .Main-Title {
    color: #FFFFFF;
  }

  .Main-Refresh {
      background-color: #282c36; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
